$mainColor : #1b1b1b;

// ----------
// Global
// ----------

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.15) rgba(0,0,0,0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.15);
    border-radius: 20px;
    border: 3px solid rgba(0,0,0,0);
}

body{
    color: white;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $mainColor;
}